.gameScreen {
    min-height: 130vh;
    max-height: 150vh;
    width: 100vw;
    background-color: #9b835f!important;
}

#header {
    color: #e5ab46;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
    padding-top: 2vh;
}

#header>img {
    height: 3rem;
    width: auto!important;
}

.jankenContainer {
    height: 90vh;
}

.gameGrid {
    font-weight: bolder;
    padding-top: 1vh;
    display: grid;
    height: 85vh;
    max-width: 60vw;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1/2fr repeat(3, 2fr) 1/2fr;
    grid-template-areas:
        'player . com'
        'p-rock . com-rock'
        'p-paper vs com-paper'
        'p-scissor refresh com-scissor'
        '. . .';
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .game-grid {
        max-width: 90vw;
    }
}

.gameGrid > div {
    height: auto;
    width: auto;
    border-radius: 25px;
    padding: 20%;
}

.gameGrid > #pRock:hover, #pPaper:hover, #pScissor:hover {
    height: auto;
    width: auto;
    border-radius: 25px;
    padding: 20%;
    background: rgb(240, 248, 255, 0.6);
}

.jankenPick {
    background: rgb(240, 248, 255, 0.6);
}

.gameGrid>div>img {
    /* display: flex; */
    max-width: 100px;
    height: auto;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.playerName {
    grid-area: player;
    height: auto!important;
    padding: 0!important;
}

#pRock {
    grid-area: p-rock;
}

#pPaper {
    grid-area: p-paper;
}

#pScissor {
    grid-area: p-scissor;
}

.vs {
    color: red;
    grid-area: vs;
    font-size: 5em;
}

.comName {
    grid-area: com;
    height: auto!important;
    padding: 0!important;
}

#cRock {
    grid-area: com-rock;
}

#cPaper {
    grid-area: com-paper;
}

#cScissor {
    grid-area: com-scissor;
}

.refresh {
    grid-area: refresh;
    width: 50px !important;
    height: auto!important;
}

.background-color-change {
    background-color: #c4c4c4;
}

.result {
    font-size: 2em;
    text-align: center;
    position: absolute;
    width: 5em;
    height: auto;
    background-color: #4b9653;
    color: black;
    transform: rotate(-30deg);
}

.draw {
    font-size: 2em;
    text-align: center;
    position: absolute;
    width: 5em;
    height: auto;
    background-color: #035c0c;
    color: black;
    transform: rotate(-30deg);
}